### EDA on Agricultural Land

In [19]:
import pandas as pd 
import seaborn as sns 
import numpy as np 

#load the Agricultural data
agri_df = pd.read_csv("Agri_data_worldbank.csv")

#load the other associated data 
agri_meta_df = pd.read_csv("metadata_agri_data_worldbank.csv")

In [20]:
agri_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,20.0,20.0,20.0,20.0,20.0,...,20.000,20.0,20.000,20.00,20.00,20.00,20.00,20.00,NaN,NaN
1,Africa Eastern and Southern,AFE,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,6170420.0,6167940.0,6173000.0,6170130.0,6167390.0,...,6825399.195,6836525.8,6851382.225,6868999.45,6882362.22,6891016.22,6898158.22,6900855.82,NaN,NaN
2,Afghanistan,AFG,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,377500.0,378000.0,378500.0,379050.0,379100.0,...,379100.000,379100.0,379100.000,379100.00,380100.00,380100.00,383130.00,383130.00,NaN,NaN

In [21]:
#check for NAN values
agri_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            255 non-null    float64
 6   1962            255 non-null    float64
 7   1963            255 non-null    float64
 8   1964            255 non-null    float64
 9   1965            255 non-null    float64
 10  1966            255 non-null    float64
 11  1967            255 non-null    float64
 12  1968            255 non-null    float64
 13  1969            255 non-null    float64
 14  1970            255 non-null    float64
 15  1971            255 non-null    float64
 16  1972            255 non-null    float64
 17  1973            255 non-null    float64
 18  1974            255 non-null    float64
 19  1975            255 non-null    float64
 20  1976            255 non-null    float64
 21  1977            255 non-null    float64
 22  1978            255 non-null    float64
 23  1979            255 non-null    float64
 24  1980            255 non-null    float64
 25  1981            255 non-null    float64
 26  1982            255 non-null    float64
 27  1983            255 non-null    float64
 28  1984            255 non-null    float64
 29  1985            255 non-null    float64
 30  1986            255 non-null    float64
 31  1987            255 non-null    float64
 32  1988            255 non-null    float64
 33  1989            255 non-null    float64
 34  1990            255 non-null    float64
 35  1991            255 non-null    float64
 36  1992            255 non-null    float64
 37  1993            256 non-null    float64
 38  1994            256 non-null    float64
 39  1995            256 non-null    float64
 40  1996            256 non-null    float64
 41  1997            256 non-null    float64
 42  1998            256 non-null    float64
 43  1999            256 non-null    float64
 44  2000            257 non-null    float64
 45  2001            257 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            257 non-null    float64
 51  2007            257 non-null    float64
 52  2008            257 non-null    float64
 53  2009            257 non-null    float64
 54  2010            257 non-null    float64
 55  2011            257 non-null    float64
 56  2012            258 non-null    float64
 57  2013            258 non-null    float64
 58  2014            258 non-null    float64
 59  2015            258 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            258 non-null    float64
 65  2021            258 non-null    float64
 66  2022            0 non-null      float64
 67  2023            0 non-null      float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB

In [23]:
agri_meta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   216 non-null    object
 3   SpecialNotes  127 non-null    object
 4   TableName     265 non-null    object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.6+ KB

In [36]:
merged1_df= pd.merge(agri_df, agri_meta_df, on= "Country Code", how= "inner")

In [38]:
merged1_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2019,2020,2021,2022,2023,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,Aruba,ABW,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,20.0,20.0,20.0,20.0,20.0,...,20.00,20.00,20.00,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,Africa Eastern and Southern,AFE,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,6170420.0,6167940.0,6173000.0,6170130.0,6167390.0,...,6891016.22,6898158.22,6900855.82,NaN,NaN,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,Afghanistan,AFG,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,377500.0,378000.0,378500.0,379050.0,379100.0,...,380100.00,383130.00,383130.00,NaN,NaN,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN

In [ ]:
# drop the Unnamed:5 column
merged1_df.drop("Unnamed: 5", axis=1, inplace=True)

In [43]:
merged1_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName'],
      dtype='object')

In [44]:
new_order_df= ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code','Region', 'IncomeGroup', 'SpecialNotes', 'TableName','1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023']

In [45]:
new_merged_df= merged1_df[new_order_df]

In [46]:
new_merged_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Region', 'IncomeGroup', 'SpecialNotes', 'TableName', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [47]:
new_merged_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,Region,IncomeGroup,SpecialNotes,TableName,1960,1961,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Agricultural land (sq. km),AG.LND.AGRI.K2,Latin America & Caribbean,High income,NaN,Aruba,NaN,20.0,...,20.000,20.0,20.000,20.00,20.00,20.00,20.00,20.00,NaN,NaN
1,Africa Eastern and Southern,AFE,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN,6170420.0,...,6825399.195,6836525.8,6851382.225,6868999.45,6882362.22,6891016.22,6898158.22,6900855.82,NaN,NaN
2,Afghanistan,AFG,Agricultural land (sq. km),AG.LND.AGRI.K2,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN,377500.0,...,379100.000,379100.0,379100.000,379100.00,380100.00,380100.00,383130.00,383130.00,NaN,NaN

In [52]:
new_merged_df["IncomeGroup"].value_counts()

IncomeGroup
High income            85
Upper middle income    54
Lower middle income    51
Low income             26
Name: count, dtype: int64

In [53]:
new_merged_df["IncomeGroup"].isna().sum()

np.int64(49)